<div class="">

  <div class="erb_header">
    <h3><a href="/restaurants/<%= @review.restaurant_id %>"><%= @review.restaurant.name.capitalize %> Review</a></h3>
  </div>

  <table class="table table-bordered table-hover table-striped text-nowrap">
    <tr>
      <th class="w-small">Author</th>
      <th class="w-small">Restaurant</th>
      <th class="w-small">Rating</th>
      <th class="w-small">Description</th>
      <th class="w-med">Updated</th>
    </tr>

    <tr>
      <td><a href="/users/<%= @review.user_id %>"><%= @review.user.username.capitalize %></a></td>
      <td><a href="/restaurants/<%= @review.restaurant_id %>"><%= @review.restaurant.name.capitalize %></a></td>
      <td><%= @review.rating %></td>
      <td><%= @review.description %></td>
      <td><%= @review.updated_at.strftime('%x')%></td>
    </tr>

  </table>
</div>
